@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87); /* Cor de texto escura para modo claro */
  background-color: #f9f9f9; /* Cor de fundo clara para o modo claro */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9f9f9; /* Fundo mais claro */
  color: rgba(0, 0, 0, 0.87); /* Cor de texto escura */
}

button {
  border: 1px solid transparent;
  font-family: inherit;
}

a {
  color: #1D4ED8; /* Cor padrão dos links */
}

a:hover {
  color: #2563EB; /* Cor de hover para links */
}